.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color);
    height: 180px;
    width: 100%;
    margin-top: 200px;
}

.footer p{
    color:#fff;
}

@media screen and (min-width: 575px) and (max-width: 1490px) {
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--second-color);
        height: 650px;
        width: 100%;
        margin-top: 200px;
    }
    
}